
.user-card {
    padding: 20px;
    width: 320px;
    height: 155px;
    border-radius: 7px;
    border: 2px solid black;
}

.user-card-undefined {
    background-color: rgb(248, 248, 248);
}

.user-card-current-user {
    background-color: rgb(204, 206, 243);
}

.user-card-suspect {
    background-color: rgb(243, 206, 204);;
}

.user-card-safe {
    background-color: rgb(206, 243, 204);
}

.undefined-icon {
    color: gray;
}

.safe-icon {
    color: green;
}

.suspect-icon {
    color: red;
}