
$border-radius: 20px;

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.placeImg {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: $border-radius;
    border: solid gray 3px;
}

.placeBox {
    position: relative;
    text-align: center;

    border-radius: $border-radius;
}

.clickable {
    cursor: pointer;
}

.placeTitleBox {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-top: 5px;
    border-radius: $border-radius;
}

.placeTitle {
    color: white;
    font-size: 1.4em;
    margin: 0;
}

.markedPlace {
    text-decoration: line-through;
}